@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  // color: set-text-color($text-primary-color);
  color: $text-primary-color;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;

}

#about,
#contact {
  @include bg-color;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 5rem;
    color: $text-primary-color;
  }

  &.md-heading {
    font-size: 3rem;
    color: rgba(lighten($text-primary-color, 2), 0.8)
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 0.5rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

.fa-icons {
  color: $text-primary-color;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  min-height: 100vh;
  // min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      @include easeOut;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &#home {
    overflow: hidden;
    align-items: center;
    text-align: center;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .bio-image {

    width: 250px;
    height: 250px;
    background: url('../img/portrait.jpg');
    background-size: cover;
    background-position: 40% 0%;
  
  

    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    box-shadow: 10px 10px 23px -5px rgba(0,0,0,0.75);
  }
}

// Work/Projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  .project-item {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    box-shadow: 10px 10px 23px -5px rgba(0,0,0,0.75);

    &:hover {
      opacity: 0.5;
      
      border-color: $secondary-color;
      @include easeOut;
    }
  }

  img {
    width: 100%;
    border: 3px #fff solid;

    
  }
}

// Contact Page
.contact {
  @include bg-color;
}

.boxes {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(4, 1fr);
  
  
  margin-top: 1rem;

  div {
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    // border: 3px #fff solid;
    padding: 1rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;


    background: lighten($primary-color, 5);
    
    border-bottom: $secondary-color 5px solid;
    box-shadow: 10px 10px 23px -5px rgba(0,0,0,0.75);

    &:hover {
      // padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

 

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import 'mobile';
